* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Intestazione */

header {
    margin: 20px;
    height: 70px;
}

h1 {
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
}

header img {
    width:100px;
    line-height: 100%;
    vertical-align: middle;
}

main {
    margin-top: 50px;
}

/* Testi */

#Container {
    margin: auto;
    width: 1000px;
}

h2 {
    color:rgb(58, 57, 57);
}

ul {
    display: inline-block;
    list-style-type: none;
      
}

/* Pulsanti */

button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.firstbuttons {
    border-radius: 8px;
}

#colorblue {
    background-color: rgb(7, 144, 185);
}

#colorgray {
    border: 1px solid;
    color: gray;
}

#colorpurple {
    background-color: darkviolet;
}

#colorgreen {
    background-color: #03d47d;
}

#colororange {
    background-color: orange;
}

#colorpink {
    background-color: violet;
}

#colorleaf {
    background-color: greenyellow;
}

.roundbuttons {
    border-radius: 20px;
}

/* Icone checkmark */

.success-checkmark:before {
    content: '✔';
    left:0; top: 2px;
    width: 20px; 
    height: 20px;
    text-align: center;
    border: 1px solid #01a809;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

.success-checkmark {
    color:#01a809;
}

.failure-checkmark {
    color:#fd0202;
}

.failure-checkmark:before {
    content: '✗';
    left:0; top: 2px;
    width: 20px; 
    height: 20px;
    text-align: center;
    border: 1px solid #fd0202;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)